---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header animated fadeIn-->
        <div class="page clearfix">
         
            <div class="left">
           
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.mckinsey %}
                    <a class="btn zoombtn" href="{{site.url}}/mckinseys/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>
                <div class="entry-meta">
                {% include meta.html %}
                    </div>
        <h2 id="comments">Comments</h2>
                {% if page.comments and site.duoshuo_username %}
                  
                      <div class="ds-thread"
                          data-thread-key="{{page.id}}"
                          data-title="{{page.title}}"
                          data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
                      </div>
                     
                       <!-- /#duoshuo_thread -->
                       {% endif %}
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %} 
                    {% include footer.html %}
                </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
  <!--sidebar bigan-->
        <div class="right">
            
        <div class="wrap" >

            <!-- Content -->
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                    <li><a href="#comments"><strong>Comments</strong></a></li>
                </ul>
           
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
            
                </div>
        </div>
<!--sidebar end-->
                

             
 
  
           
            </div>
            
  
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">

        var _user = '{{site.duoshuo_username}}';

        var duoshuoQuery = {short_name:  _user  };
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
    <script src="{{ site.url }}/assets/js/pageContent.js"></script>
</body>
</html>
